.bloc{
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.bloc img{
    width: 50px;
}
.bloc h1{
    color: white;
    font-family: 'Oswald', sans-serif;
}
.bloc h1:hover{
    color: purple;
}
.bloc .langues a{
    color: white;
    font-family: 'Oswald', sans-serif;
}
.bloc2{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.bloc3{
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
}
.bloc4{
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: white;
}
.bloc .langues a:hover{
    color: purple;
}





font-family: 'Oswald', sans-serif;
